version: "3.9"
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    command: sh -c "sleep 5 && npm run db:push && npm run dev"
    environment:
      - NODE_ENV=development
      - NEXTAUTH_URL=http://localhost:3000
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/sluttfase?schema=public
    env_file:
      - .env
    ports:
      - "3000:3000"
    depends_on:
      - db
    volumes:
      - .:/app
      - /app/node_modules

  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: sluttfase
    ports:
      - "5433:5432"
    volumes:
      - pgdata-dev:/var/lib/postgresql/data

volumes:
  pgdata-dev:
